@font-face {
    font-family: mono;
    src: url(../fonts/css-mono.ttf.html); 
  }
  @font-face {
    font-family: derk;
    src: url(../fonts/fontt.otf.html);
  }
    html {
    font-family: mono;
  }
  *, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    background: rgb(17, 17, 17);
  }
  #overlay-toggle {
    position:absolute;
    display: none;
  }
  .debold{
    font-weight:normal
  }
  .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .overlay {
    z-index: 1;
    background-color: black;
  }
  .overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .no-hover {
    display: block;
  }
  .hover {
    display: none;
  }
  .fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
  }
  .text-content {
    background: rgba(0, 0, 0, 0);
    display: grid;
    place-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .text-content h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  .text-content p {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 0.0;
    color: rgb(192, 192, 192);
    display: flex;
  }
  .text-content a {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.3rem;
    line-height: 0.0;
    color: #cccccc;
    display: flex;
  }
  #overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
  }
  #overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
  }
  @media(hover: hover) {
    .hover {
      display: block;
    }
    .no-hover {
      display: none;
    }
  }
  @keyframes fade{
    to {
      opacity: 0;
    }
  }
  @keyframes hide {
    to {
      visibility: hidden;
    }
  }

  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
body {
  font: 18px "Nunito", sans-serif;
  background: url("/term/video.mp4");
  background-filter: blur(10px);
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("/term/video.mp4");
  background-size: cover;
  -webkit-animation: backgroundZoomAnimate 20s forwards;
          animation: backgroundZoomAnimate 20s forwards;
}

    /* Adjustments for very small screens (320x480) */
    @media (max-width: 320px) and (max-height: 480px) {
        /* Other adjustments */

        img {
            max-width: 10%; /* Adjust the width as needed for very small screens */
        }
    }





@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.profile-card {
  box-shadow: 0 18px 200px -60px black;
  border-radius: 50px;
  width: 650px;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid rgba(25, 0, 255, 0.251);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: 1s;
}

.discord-link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.discord-link img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease-in-out;
  z-index: 3;
}

.discord-link:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  opacity: 0.6;
  filter: blur(4px);
  pointer-events: none;
  border-radius: 15px;
  animation: glowLoop 10s infinite linear, colorLoop 10s infinite ease-in-out;
}

.discord-link:hover:before {
  background-image: linear-gradient(135deg, red, grey, purple);
}

.discord-link:hover img {
  filter: brightness(1.2);
}

@keyframes glowLoop {
  0%, 100% {
    background: linear-gradient(135deg, purple, grey, red);
    background-size: 300% 300%;
    animation-timing-function: ease-in-out;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  75% {
    background-position: 100% 100%;
  }
}

@keyframes colorLoop {
  0%, 100% {
    background: linear-gradient(135deg, purple, grey, red);
    background-size: 300% 300%;
    animation-timing-function: ease-in-out;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  75% {
    background-position: 100% 100%;
  }
}


/* Hover effect for changing color */
.heading:hover {
  animation: vibration 0.5s infinite alternate;
}


/* Vibration animation on click */
@keyframes vibration {
  0% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
}

@media screen and (max-width: 768px) {
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will distribute space around items */
    align-items: center;
    /* Set a fixed width for the container based on the icon size and margins */
    width: calc(4 * (60px + 2 * 10px)); /* 4 icons, each 60px wide with 10px margin on both sides */
  }

  .socialslogo {
    width: 60px; /* Fixed width for each icon */
    height: 60px; /* Fixed height for each icon */
    margin: 10px; /* Margin around icons */
    flex: 0 0 auto; /* Prevents icons from growing or shrinking */
  }
}



/* Social icons container */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Common styles for the icons */
.socialslogo {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.socialslogo:hover img {
  transform: rotate(10deg); /* Adjust the rotation angle as desired */
}

.socialslogo span.tooltip {
  display: none;
  position: absolute;
  bottom: -25px; /* Adjust the distance below the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
  z-index: 1; /* Place the tooltip above the icon */
  border: 1px solid #fff; /* Add a smooth border */
}


.socialslogo img {
  width: 78px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.socialslogo:hover img {
  transform: rotate(360deg); /* Rotate the icon 360 degrees */
}



.profile-card:hover{
  transform: scale(1.005);
  border-radius: 40px;
  border: 2px solid rgba(25, 0, 255, 0.535);
}

@media screen and (max-width: 768px) {
  .profile-card {
    width: auto;
  }
}
.profile-card_img img {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  box-shadow: 0 10px 60px -10px rgba(13, 28, 39, 0.5);
  transition: .5s;
  filter: brightness(70%);
}

.profile-card_img:hover img {
  transform: scale(0.95);
  cursor: pointer;
  filter: brightness(100%);

}

.profile-card_desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
    font-size: 36px;
    color: var(--color3);
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.3s, text-shadow 0.3s; /* Add transitions */
	cursor: default;
}

.profile-card_desc h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.profile-card_desc h1 + div {
  font-size: 20px;
}
.profile-card_info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 576px) {
  .profile-card_info {
    gap: 30px;
  }
}
.profile-card_info > div {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.profile-card_info > div > *:first-child {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.profile-card_info > div > *:last-child {
  font-size: 16px;
  opacity: 0.7;
}
.profile-card_social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card_social a {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card_social a {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card_social a:hover {
    transform: scale(1.2) translateY(-5px);
  }
}
.profile-card_social a.linkedin {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card_social a.github {
  background: linear-gradient(45deg, #b113d5, #9e24f0);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card_social a.behance {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
}
.profile-card_actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .profile-card_actions {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.profile-card_actions > button {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  padding: 15px 0;
  min-width: 300px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card_actions > button {
    min-width: 170px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card_actions > button {
    min-width: inherit;
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (min-width: 576px) {
  .profile-card_actions > button:hover {
    transform: translateY(-1px);
  }
}
.profile-card_actions > button.blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
}
.profile-card_actions > button.blue.hover {
  box-shadow: 0 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card_actions > button.purple {
  background: linear-gradient(45deg, #5865F2, #1e31fe);
  box-shadow: 0 0px 30px rgba(0, 166, 255, 0.374);
}
.profile-card_actions > button.purple.hover {
  box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
}/*# sourceMappingURL=style.css.map */


.x {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .x {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.valid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  padding: 15px 0;
  min-width: 250px;
  border-radius: 50px;
  color: white;
  transition: all 0.2s;
  background: linear-gradient(45deg, #c00000, #ff2f00);
  box-shadow: 0 0px 30px rgba(255, 0, 0, 0.527);
}
.valid:hover {
  cursor: default;
}

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    overflow: hidden;
}

.toast{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: rgba(6, 0, 61, 0.456);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active{
    transform: translateX(0%);
}

.toast .toast-content{
    display: flex;
    align-items: center;
}

.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4c00ff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #b3b3b3;
}

.message .text.text-1{
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.9;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: rgba(6, 0, 61, 0.626);
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4c00ff;
}

.progress.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

.toast.active ~ button{
    pointer-events: none;
}
@font-face {
  font-family: mono;
  src: url(../fonts/css-mono.ttf.html); 
}
@font-face {
  font-family: derk;
  src: url(../fonts/fontt.otf.html);
}
  html {
  font-family: mono;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(17, 17, 17);
}
#overlay-toggle {
  position:absolute;
  display: none;
}
.debold{
  font-weight:normal
}
.socials {
display: flex;
align-items: center;
justify-content: center;
}
.overlay {
  z-index: 1;
  background-color: black;
}
.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.no-hover {
  display: block;
}
.hover {
  display: none;
}
.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}
.text-content {
  background: rgba(0, 0, 0, 0);
  display: grid;
  place-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
.text-content h1 {
  font-size: 3rem;
  font-weight: 800;
}
.text-content p {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 31px;
  padding-left: 10px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 0.0;
  color: rgb(192, 192, 192);
  display: flex;
}

/* General rule for larger screens */
.text-content a {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 31px;
  padding-left: 10px;
  font-size: 1.3rem;
  line-height: 0.0;
  color: #cccccc;
  display: flex;
}

/* Media query for screens that are 768px wide or smaller */
@media screen and (max-width: 768px) {
  .text-content a {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    /* No need to redefine font-size, line-height, color, and display if they are the same */
  }
}

#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon {
  display: inline-block;
  margin: 0 15px;
  transition: transform 0.3s, filter 0.3s;
  outline: none; /* Prevents the outline when focused */
}

.icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Add this style for focused state */
.icon:focus {
  outline: none; /* Remove the outline when focused */
}


}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  border-radius: 10px;
  border: 1.9px solid #2b2828;
  box-shadow: 0 0 19px #dd00ff;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, #ff80a5, #ff2a68);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, #ff80a5, #ff2a68);
  border-radius: 50%;
  cursor: pointer;
}


  .volume-container {
    display: flex;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
  }

  .slider {
    flex: 1;
  }

  #muteButton {
    font-size: 24px;
    margin-left: 10px; /* Adjust the margin as needed */
    border: none;
    background: none;
    cursor: pointer;
  }

  .volume-container {
    display: flex;
    align-items: center;
    width: 500px; /* Adjust the width as needed */
  }

  .slider {
    flex: 1;
  }

  #muteButton {
    font-size: 24px;
    margin-left: 10px; /* Adjust the margin as needed */
    border: none;
    background: none;
    cursor: pointer;
  }


  .volume-container {
    display: flex;
    align-items: center;
    width: 435; /* Adjust the width as needed */
  }

  .slider {
    flex: 1;
  }

  #muteButton {
    font-size: 24px;
    margin-left: 10px; /* Adjust the margin as needed */
    border: none;
    background: none;
    cursor: pointer;
  }
  
  

  




.interface {
    width: 100%;
    height: 100%;
    background: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url('https://wallpapercave.com/wp/UkpUlVc.jpg') center no-repeat;
    background-size: cover;
}



/* Chat */
.chat-container {
    width: 370px;
    height: 195px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 1px;

}
#chat {
    margin: 0;
    max-height: 145px;
    list-style-type: none;
    padding-left: 10px;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;

}

.user-message {
  color: white; /* or light gray */
}



.user-message::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  pointer-events: none;
  z-index: -1;
}



/* Styling for system messages */
.system-message {
    color: #FF9933; /* Orange color for system responses */
}


.message {
	color: rgb(0 0 0);
    text-shadow: 0 0 15px rgb(255 255 255);
    margin: 2px 0;
    padding: 2px 0;
    border-bottom: 1px solid rgb(112 166 219);
}
.message:first-letter {
    text-transform: capitalize;
}
#cli {
    position: absolute;
    bottom: 2px;
    left: 1px;
    width: 344px;
    height: 20px;
	display: block;
    border: 1px solid rgba(112, 166, 219, 0.30);
    border-top-color: rgba(112, 166, 219, 0.5);
    border-bottom-left-radius: 12px;
    text-indent: 15px;
    color: rgba(112, 166, 219, 1);
    background-color: rgba(112, 166, 219, 0.20);
    outline: none;
}


/* Media query for smaller screens (mobile devices) */
@media (max-width: 767px) {
    .chat-container {
        display: none; /* Hide on mobile devices */
    }
}

/* Media query to hide chat container on specific screen resolution */
@media (max-width: 938px) and (max-height: 574px) {
  .chat-container {
    display: none;
  }
}

/* Animations */
@keyframes pulse {
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    }
    50%{
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 50px rgba(0, 255, 204, 0.8);
    }
    50% {
        box-shadow: 0 0 100px rgba(0, 255, 204, 0.8);
    }
    100% {
        box-shadow: 0 0 50px rgba(0, 255, 204, 0.8);
    }
}

@keyframes rotateClock {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
@keyframes rotateClock-2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(720deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}